.search-food {
    width: 80%;
    margin: 10px auto;
    direction: rtl;
    &__field {
        border: 1px solid;
        border-radius: 10px;
        direction: rtl;
        margin-right: 10px;
    }
    &__list {
        width: inherit;
        height: 150px;
        position: absolute;
        overflow-y: auto;
        border: 1px solid;
        margin-top: 2px;
        border-radius: 10px;
        z-index: 1;
        ion-item {
            font-size: 14px;
            height: 25px;
            ion-label {
                margin-top: -10px;
            }
        }
    }
}

.content {
    display: flex;
}