<div class="search-bar">
  <div class="search">
    <ion-icon *ngIf="addEnabled" class="search--add icon" name="add" (click)="onAddItem()"></ion-icon>
    <ion-input #searchValue class="search--input" (ionInput)="onSearch(searchValue.value)" [value]="value"></ion-input>
  </div>
  <ion-img class="search-barcode" src="assets/barcode.png"></ion-img>
</div>
<ion-list class="list" *ngIf="showList">
  <ion-item *ngFor="let item of (items$ | async)" lines="none" slot="right" (click)="onItemSelect(item)">
    <ion-label>{{item.FoodName}}</ion-label>
  </ion-item>
</ion-list>