:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  text-align: center;

  .action {
    border: 1px solid;
    border-radius: 50%;
    font-size: 18px;
    background-color: #ff9b41;
  }

  .input-number {
    &--value {
      margin: 0;
    }
    &--add {
      opacity: 0.5;
    }
    &--remove {
      opacity: 0.5;
    }
  }
}
