:host {
  direction: rtl;
  .item {
    font-size: small;
    font-weight: 600;
    ion-select.unit {
      font-size: inherit;
      width: 30%;
    }

    ion-icon.trash {
      font-size: 24px;
    }
  }
  &--slide_options {
    direction: ltr;
  }
}

.action {
  cursor: pointer;
}
