<div class="list">
  <ion-list>
    <ion-item class="list__item" *ngFor="let item of items$ | async">
      <ion-label class="list__item__title">{{item.itemName}}</ion-label>
      <ion-select class="list__item__units" interface="action-sheet" placeholder="בחר יחידה">
        <ion-select-option>יחידה</ion-select-option>
      </ion-select>
      <ion-item>
        <ion-icon class="list__item--add action" name="remove" (click)="remove()"></ion-icon>
        <ion-label class="list__item--quantity">{{quantity}}</ion-label>
        <ion-icon class="list__item--remove action" name="add" (click)="add()"></ion-icon>
      </ion-item>
    </ion-item>
  </ion-list>
</div>